.orgItem {
    padding: 10px 10px 15px;
    width: 300px;
    display: inline-block;
    position: relative;
    border: solid 1px #f0f0f0;
    border-radius: 3px;

}

.orgItem-head {
    display: flex;
}

.orgItem-head > img {
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.orgItem-head-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.orgItem-head-heading {
    font-weight: bold;
    text-align: start;
}

.orgItem-head-type {
    color: #727272;
    font-size: 14px;
    text-align: start;
}

.orgItem-main {
    margin-top: 15px;
}

.orgItem-main-item {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.orgItem-main-item > img {
    margin-left: 12px;
    width: 20px;
    height: 20px;
}

.orgItem-main-link {
    margin-left: 25px;
    font-size: 14px;
    color: #727272;
}

.orgItem-main-link:hover {
    color: #8757bf;
}

.orgItem-footer {
    position: absolute;
    height: 11px;
    left: -1px;
    bottom: -10px;
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 2px 2px 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orgItem-footer:hover {
    background-color: #8757bf;
}

.orgItem-options {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.orgItem-options > img {
    width: 20px;
    height: 20px;
}


.orgItem-options:hover .orgItem-options-block{
    /*transform: translateX(100px);*/
    visibility: visible;
}

.orgItem-options-block {
    width: 100px;
    height: 132px;
    position: absolute;
    top: -1px;
    right: -100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    visibility: hidden;
    color: #727272;
    border: solid 1px #f0f0f0;
    background-color: #fff;
    /*transition: all 0.2s ease-out;*/
    /*right: 0px;*/
    z-index: 1;
}

.orgItem-options-block > span {
    margin-bottom: 10px;
    display: block;
    font-size: 14px;
}

.orgItem-options-block > span:hover {
    color: rgb(102, 90, 207);
}