.orgItem {
    padding: 10px 10px 15px;
    margin: 0 10px;
    width: 300px;
    display: inline-block;
    position: relative;
    border: solid 1px #f0f0f0;
    border-radius: 3px 3px 0 0;
}

/*.orgItem:hover .orgItem-L {*/
    /*display: block;*/
/*}*/

.orgItem-head {
    display: flex;
    align-items: center;
}

.orgItem:hover > .orgItem-head > .orgItem-head-img {
    border-radius: 22px;
    box-shadow: 0 0 2px 1px #8757bf;
}

.orgItem-head-img {
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.orgItem-head-img:hover + .orgItem-L {
    display: block;
}

.orgItem-head-info {
    display: flex;
    flex-direction: column;
    /*justify-content: space-around;*/
}

.orgItem-head-heading {
    margin-top: 5px;
    font-weight: bold;
    text-align: start;
}

.orgItem-head-type {
    margin-top: 2px;
    color: #727272;
    font-size: 14px;
    text-align: start;
}

.orgItem-main {
    margin-top: 15px;
}

.orgItem-main-item {
    margin-top: 5px;
    display: flex;
    align-items: center;
}

.orgItem-main-item > img {
    margin-left: 12px;
    width: 20px;
    height: 20px;
}

.orgItem-main-link {
    margin-left: 25px;
    font-size: 14px;
    color: #727272;
}

.orgItem-main-link:hover {
    color: #8757bf;
}

.orgItem-footer {
    position: absolute;
    height: 13px;
    left: -1px;
    bottom: -12px;
    width: 300px;
    background-color: #f0f0f0;
    border-radius: 0 0 3px 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orgItem-footer:hover {
    background-color: #8757bf;
}

.orgItem-options {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.orgItem-options > img {
    width: 20px;
    height: 20px;
}


.orgItem-options:hover .orgItem-options-block{
    /*transform: translateX(100px);*/
    visibility: visible;
}

.orgItem-options-block {
    padding: 10px;
    width: 100px;
    height: 132px;
    position: absolute;
    top: -1px;
    right: -100px;
    visibility: hidden;
    color: #727272;
    border: solid 1px #f0f0f0;
    background-color: #fff;
    /*transition: all 0.2s ease-out;*/
    /*right: 0px;*/
    z-index: 1;
}

.orgItem-options-block > span {
    padding: 10px 0;
    display: block;
    font-size: 14px;
}

.orgItem-options-block > span:hover {
    color: rgb(102, 90, 207);
}

.orgItem-L {
    pointer-events: none;
    padding: 20px;
    top: 35px;
    left: 35px;
    /*left: -70px;*/
    /*bottom: 0;*/
    position: absolute;
    display: none;
    width: 444px;
    height: 249px;
    border-radius: 3px;
    box-shadow: 0 0 2px 1px rgba(203, 203, 203, 0.5);
    background-color: #ffffff;
    z-index: 2;
}

.orgItem-L-head-type {
    margin-top: 5px;
    color: #727272;
    font-size: 16px;
    text-align: start;
}

.orgItem-L-img {
    margin-right: 20px;
    min-width: 75px;
    min-height: 75px;
}

.orgItem-L-main {
    margin-top: 35px;
    width: 80%;
    font-size: 16px;
}

.orgItem-L-info {
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
}

.orgItem-staticData {
    color: #727272;
}